@model FaturaTakip.Data.Models.RentedApartment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tenant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.GovermentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.GovermentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.YearOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.YearOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant.LisencePlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.LisencePlate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayNameFor(model => model.Apartment.Block) : 
            @Html.DisplayFor(model => model.Apartment.Block)
            <br/>

            @Html.DisplayNameFor(model => model.Apartment.Floor) :
            @Html.DisplayFor(model => model.Apartment.Floor)
            <br />

            @Html.DisplayNameFor(model => model.Apartment.DoorNumber) :
            @Html.DisplayFor(model => model.Apartment.DoorNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ListTenants">Back to List</a>
</div>