@{
    ViewData["Title"] = "Tenants";
}

<h2>
    @ViewData["Title"]
    <a class="btn btn-success" asp-action="AddTenantIntoApartment">Add</a>
</h2>

<table class="table">
    <thead>
        <tr>
            <th>Goverment ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Apartment</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rentedApartment in Model)
        {
            <tr>
                <td>@rentedApartment.Tenant.GovermentId</td>
                <td>@rentedApartment.Tenant.Name</td>
                <td>@rentedApartment.Tenant.LastName</td>
                <td>@rentedApartment.Tenant.Phone</td>
                <td>@rentedApartment.Tenant.Email</td>
                <td>
                    Block : @rentedApartment.Apartment.Block - Floor : @rentedApartment.Apartment.Floor - Door Number : @rentedApartment.Apartment.DoorNumber
                </td>
                <td>
                    <a class="btn btn-primary" href="tenants/@rentedApartment.Tenant.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>