@model FaturaTakip.ViewModels.RentedApartmentVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RentedApartment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentInfo)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Apartments" asp-action="Details" asp-route-id="@Model.FKApartmentId">@Model.ApartmentInfo</a>
            @*@Html.DisplayFor(model => model.ApartmentInfo)*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenantName)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Tenants" asp-action="Details" asp-route-id="@Model.FKTenantId">@Model.TenantName</a>
            @*@Html.DisplayFor(model => model.TenantName)*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RentTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RentTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
