@model IEnumerable<FaturaTakip.ViewModels.RentedApartmentVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentInfo)
@*                <div class="row" style="max-width : 60%">
                    <div class="col-sm">
                        Block
                    </div>
                    <div class="col-sm">
                        Floor
                    </div>
                    <div class="col-sm">
                        Door
                    </div>
                </div>*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ApartmentInfo)*@
                    <a asp-controller="Apartments" asp-action="Details" asp-route-id="@item.FKApartmentId">@item.ApartmentInfo</a>
                </td>
                <td>
                    <a asp-controller="Tenants" asp-action="Details" asp-route-id="@item.FKTenantId">@item.TenantName</a>
                    @*@Html.DisplayFor(modelItem => item.TenantName)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
